* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
}

h1 {
    font-family: Arial, sans-serif;
    font-size: 32px;
    font-weight: 900;
    text-align: center;
    padding: 20px;
}
@media screen and (max-width: 820px) {
    h1 { font-size: 26px; }
}
@media screen and (max-width: 320px) {
    h1 { font-size: 22px; }
}


.accordion {
    height: 1000px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
    margin: auto;
}
@media screen and (max-width: 820px) {
    .accordion { font-size: 14px; }
}
@media screen and (max-width: 320px) {
    .accordion { font-size: 12px; }
}


.acc-item {
    max-width: 100%;
    border-top: 1px solid #D3D9E1;
    cursor: pointer;
}
.acc-item:last-child{
    border-bottom: 1px solid #D3D9E1;
}


.acc-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #0059D9;
    cursor: pointer;
    padding: 10px 0;
}

.acc-text {
    margin-right: 15px;
}

.acc-plus-svg {
    margin-right: 10px;
    display: none;
    transition: .2s ease-out;
    cursor: pointer;
}

.acc-input {
    display: none;
}

.acc-img {
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    object-fit: cover;
    transition: height .7s ease-in-out;
}


.accordion:hover .acc-title{
    color: #000000;
}
.accordion:hover .acc-plus-svg{
    display: block;
}
.acc-item:hover .acc-img{
    height: 589px;
}
.acc-item:hover .acc-plus-svg {
    transform: rotateZ(45deg);
}


.acc-input:checked ~ .acc-img{
    height: 589px;
}
@media screen and (max-width: 820px) {
    .acc-input:checked ~ .acc-img{
        height: 460px;
    }
}
@media screen and (max-width: 320px) {
    .acc-input:checked ~ .acc-img{
        height: 236px;
    }
}


@media screen and (max-width: 820px) {
    img{
        width: 820px;
        height: 460px;
    }
}
@media screen and (max-width: 320px) {
    img{
        width: 420px;
        height: 236px;
    }
}


.acc-input:checked ~ .acc-title {
    color: #000000;
}
.acc-input:checked + .acc-title .acc-plus-svg {
    transform: rotateZ(45deg);
}


